* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body {
    background: linear-gradient(to bottom right, #0040FF, #5882FA);
    
}
.header {
    width: 100%;
    height: 45vh;
    padding: 5%;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon{
    width: 15%;
    margin-right: 5%;
    margin-top: -10%;
}
header div.container{
    max-width: 1200px;
}
header div.info-header{
    display: flex;
    align-items: center;
    justify-content: center;
}
header div img {
    padding: 0px;
    width: 30%;
    border: 5px solid;
    color: #FFFFFF;
    border-radius: 50px 0px;
}
div.info p.nome{
    color: #FFFFFF;
    font-size: 50px;
    margin-left: -120%;
}
div.info p.cargo{
    color: #FFFFFF;
    font-size: 30px;
    margin-left: -120%;
    margin-top: -8%;
    opacity: 0.8;
}
header hr{
    color: #FFFFFF;
    border-radius: 5px;
}
header section{
    display: flex;
    align-items: center;
    justify-content: center;
}
header div.contato-header{
    width: 30vw;
    height: 5vh;
    color: #FFFFFF;
    text-align: center;
}
header section div h6{
    opacity: 0.8;
}
section.sobre{
    background: #FFFFFF;
    color: dimgray;
    width: 100%;
    height: 55vh;
    padding: 5%;
    text-align: center;
}
section.sobre h2{
    color: #0040FF;
    font-weight: 700;
}
section.sobre p{
    padding: 0px 15%;
    padding-bottom: 5%;
}
section.sobre div.hobbies{
    display: flex;
    align-items: center;
    justify-content: center;
}
section.sobre div.inner-hobbies{
    width: 30vw;
    height: 5vh;
    text-align: center;
}
section.sobre div.hobbies div.inner-hobbies img{
    width: 8%;
    margin-bottom: 1%;
}
section.skills{
    background: dimgray;
    color: #FFFFFF;
    width: 100%;
    height: 95vh;
    padding: 5%;
    text-align: center;
}
section.skills div.inner-skills{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10%;
}
section.skills div.inner-skills div.card-skills{
    width: 30vw;
    height: 5vh;
    text-align: center;
}
section.skills div.inner-skills div.card-skills h5{
    margin-bottom: 6%;
}
section.skills div.inner-skills div.card-skills ul.lista-skills{
    text-align: left;
    text-decoration: none;
    color: dimgray;
    border-radius: 50px 0px;
    padding: 5%;
}
section.skills div.inner-skills div.card-skills ul.lista-skills li{
    list-style-type: none;
    font-weight: bold;
    margin-left: 2%;
    margin-bottom: 2%;
    background: #FFFFFF;
    border-radius: 20px 0;
    padding: 2% 5%;
    color: #0040FF;
}
section.skills div.inner-skills div.card-skills ul.lista-skills li.animation{
    list-style-type: none;
    font-weight: bold;
    margin-left: 2%;
    margin-bottom: 2%;
    background: #0040FF;
    border-radius: 20px 0;
    padding: 2% 5%;
    color: #FFFFFF;
}
section.skills div.inner-skills div.card-skills ul.lista-skills li.animation.ss{
    width: 50%;
    z-index: 1;
    text-align: right;
    margin: -11.2% 0 2.5% 50%;
}
section.skills div.inner-skills div.card-skills ul.lista-skills li.animation.hs{
    width: 50%;
    z-index: 1;
    text-align: right;
    margin: -11.2% 0 2.5% 50%;
}
section.experiencia{
    background: #FFFFFF;
    color: dimgray;
    width: 100%;
    height: 65%;
    padding: 5% 10%;
    text-align: center;
}
section.experiencia h2{
    color: #0040FF;
    font-weight: 700;
}
section.experiencia div.card-desc{
    width: 20%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-right: 1px solid;
    border-color: #D8D6D4;
    padding: 2% 2%;
}
section.experiencia div.card-exp{
    width: 30%;
    height: auto;
    padding: 2% 0;
}
section.experiencia div.container div.card-exp p{
    line-height: 5px;
}
footer{
    text-align: center;
}
footer div.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    padding: 3% 0;
}
footer div.footer div.inner-footer img.icon-footer{
    width: 5%;
    margin: 0 1%;
}
footer div.footer div.inner-footer{
    width: 50%;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
}