* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body{
    font-family: 'Poppins', sans-serif;
}
.d-flex{
    display: flex;
}
aside{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #51ADE5;
    padding: 1rem;
    height: 100vh;
}
main{
    flex: 3;display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
    height: 100vh;
}
img{
    width: 100%;
}
.foto-perfil{
    width: 50%;
}
.imagem-perfil{
    padding:.31rem;
    border: 5px solid #fff;
    border-radius: 30px 0 30px 0;
}
nav{
    margin-top: 1rem;
    text-align: center;
}
li{
    margin-top: .5rem;
    list-style: none;
}
li a{
    text-decoration: none;
    color: #fff;
}
li a:hover{
    color: #022179;
    transition: all .5s;
}
h1{
    color: #022179;
    font-size: 3rem;
    font-weight: bolder;
}
.destaque{
    color: #51ADE5;
}
address{
    color: #545454;
}
address a{
    color: #51ADE5;
    text-decoration: none;
}
address a:hover{
    color: #5CE1E6;
    transition: all .5s;
}
.descricao{
    margin: 2rem 0;
    color: #545454;
}
p a{
    text-decoration: none;
    color: #51ADE5;
}
p a:hover{
    color: #5CE1E6;
}